<div
  class="container mx-auto max-w-[60%] min-h-[100%] bg-white border border-gray-200 rounded-lg shadow flex flex-col md:flex-row"
>
  <a href="#" class="md:w-1/2">
    <div *ngIf="voiture.images && voiture.images.length">
      <div style="display: flex; overflow-x: auto;">
        <img *ngFor="let img of voiture.images"
             [src]="'data:' + img.contentType + ';base64,' + img.data"
             style="max-width: 300px; margin-right: 10px;" />
      </div>
    </div>
  </a>
  <div class="p-4 md:p-6 flex-1">
    <a href="#">
      <h5 class="mb-1 text-xl font-semibold tracking-tight text-gray-900">
        {{ voiture.marque }} {{ voiture.modele }}
      </h5>
    </a>
    <p class="mb-2 text-gray-700">
      {{ voiture.description }}
    </p>
    <div class="flex items-center mb-2">
      <div class="flex items-center space-x-1">
        <svg
          *ngFor="let i of [1, 2, 3, 4, 5]"
          class="w-4 h-4 text-yellow-300"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
      </div>
      <span
        class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded ms-3"
        >5.0</span
      >
    </div>
    <div class="flex items-center justify-between mb-2">
      <span class="text-xl font-bold text-gray-900">{{ voiture.prix }} €</span>
      <a
        [routerLink]="['/voiture-detail', voiture.id]"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
      >
        Voir détails
      </a>
    </div>
    <div class="flex items-center justify-between">
      <button
        type="button"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300"
      >
        <svg
          class="-ms-1 me-2 h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-5 5M7 13l-2.5-4m12 2h.01M21 12h-2m0-16H9"
          />
        </svg>
        Ajouter au panier
      </button>
      <button
        type="button"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-red-600 bg-white border border-red-600 rounded-lg hover:bg-red-100 focus:ring-4 focus:outline-none focus:ring-red-300"
      >
        <svg
          class="-ms-1 me-2 h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 2.5a7.498 7.498 0 0 0-5.948 2.974C2.93 7.392 1.5 10.5 5.25 13.75c1.659 1.594 3.427 4.266 4.5 5.5a7.963 7.963 0 0 0 5.498-2.974C15.082 12.5 16.5 9.392 14.75 6.25a7.962 7.962 0 0 0-4.5 5.5Z"
          />
        </svg>
        Mettre en favori
      </button>
    </div>
  </div>
</div>
